<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>dash.php</servlet-name>
        <servlet-class>php.Dash</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout.php</servlet-name>
        <servlet-class>php.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login.php</servlet-name>
        <servlet-class>php.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Jersey RESTful Application</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>ws.json</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>terimaPesan.exe</servlet-name>
        <servlet-class>exe.TerimaPesan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cetak.exe</servlet-name>
        <servlet-class>exe.Cetak</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jajal.php</servlet-name>
        <servlet-class>php.Jajal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editKaryawan</servlet-name>
        <servlet-class>exe.EditKaryawan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delKaryawan.exe</servlet-name>
        <servlet-class>exe.DelKaryawan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delBahan.exe</servlet-name>
        <servlet-class>exe.DelBahan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delMeja.exe</servlet-name>
        <servlet-class>exe.DelMeja</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editKaryawan.php</servlet-name>
        <servlet-class>php.EditKaryawan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editBahan.exe</servlet-name>
        <servlet-class>exe.EditBahan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editBahan.php</servlet-name>
        <servlet-class>php.EditBahan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addKaryawan.exe</servlet-name>
        <servlet-class>exe.AddKaryawan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addBahan.exe</servlet-name>
        <servlet-class>exe.AddBahan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addMeja.exe</servlet-name>
        <servlet-class>exe.AddMeja</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editMeja.exe</servlet-name>
        <servlet-class>exe.EditMeja</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editMeja.php</servlet-name>
        <servlet-class>php.EditMeja</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delPesan.exe</servlet-name>
        <servlet-class>exe.DelPesan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cetakLagi.exe</servlet-name>
        <servlet-class>exe.CetakLagi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addPesan.exe</servlet-name>
        <servlet-class>exe.AddPesan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addItemPesan.exe</servlet-name>
        <servlet-class>exe.AddItemPesan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validPesan.exe</servlet-name>
        <servlet-class>exe.ValidPesan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kulaan.exe</servlet-name>
        <servlet-class>exe.Kulaan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kulaan.php</servlet-name>
        <servlet-class>php.Kulaan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editPesan.exe</servlet-name>
        <servlet-class>exe.EditPesan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editPesan.php</servlet-name>
        <servlet-class>php.EditPesan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gbr.exe</servlet-name>
        <servlet-class>exe.Gbr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addKat.exe</servlet-name>
        <servlet-class>exe.AddKat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editImgKat.php</servlet-name>
        <servlet-class>php.EditImgKat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editImgKat.exe</servlet-name>
        <servlet-class>exe.EditImgKat</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dash.php</servlet-name>
        <url-pattern>/dash.php</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout.php</servlet-name>
        <url-pattern>/logout.php</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login.php</servlet-name>
        <url-pattern>/login.php</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Jersey RESTful Application</servlet-name>
        <url-pattern>/json/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>terimaPesan.exe</servlet-name>
        <url-pattern>/terimaPesan.exe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cetak.exe</servlet-name>
        <url-pattern>/cetak.exe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jajal.php</servlet-name>
        <url-pattern>/jajal.php</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editKaryawan</servlet-name>
        <url-pattern>/editKaryawan.exe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delKaryawan.exe</servlet-name>
        <url-pattern>/delKaryawan.exe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delBahan.exe</servlet-name>
        <url-pattern>/delBahan.exe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delMeja.exe</servlet-name>
        <url-pattern>/delMeja.exe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editKaryawan.php</servlet-name>
        <url-pattern>/editKaryawan.php</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editBahan.exe</servlet-name>
        <url-pattern>/editBahan.exe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editBahan.php</servlet-name>
        <url-pattern>/editBahan.php</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addKaryawan.exe</servlet-name>
        <url-pattern>/addKaryawan.exe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addBahan.exe</servlet-name>
        <url-pattern>/addBahan.exe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addMeja.exe</servlet-name>
        <url-pattern>/addMeja.exe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editMeja.exe</servlet-name>
        <url-pattern>/editMeja.exe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editMeja.php</servlet-name>
        <url-pattern>/editMeja.php</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delPesan.exe</servlet-name>
        <url-pattern>/delPesan.exe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cetakLagi.exe</servlet-name>
        <url-pattern>/cetakLagi.exe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addPesan.exe</servlet-name>
        <url-pattern>/addPesan.exe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addItemPesan.exe</servlet-name>
        <url-pattern>/addItemPesan.exe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validPesan.exe</servlet-name>
        <url-pattern>/validPesan.exe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kulaan.exe</servlet-name>
        <url-pattern>/kulaan.exe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kulaan.php</servlet-name>
        <url-pattern>/kulaan.php</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editPesan.exe</servlet-name>
        <url-pattern>/editPesan.exe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editPesan.php</servlet-name>
        <url-pattern>/editPesan.php</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gbr.exe</servlet-name>
        <url-pattern>/gbr.exe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addKat.exe</servlet-name>
        <url-pattern>/addKat.exe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editImgKat.php</servlet-name>
        <url-pattern>/editImgKat.php</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editImgKat.exe</servlet-name>
        <url-pattern>/editImgKat.exe</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
